allow init thermal:dir { read open };
allow init thermal:file { read open };
allow init thermal:process sigkill;
allow init thermald:process sigkill;

